# IDEA
*.iml
.idea/*
!.idea/codeStyles/*
!.idea/dictionaries/*
.settings
.project
.classpath

# Gradle
.gradle
build
/reports

# Gradle Android
/local.properties
/captures

# Mac OS
.DS_Store

*.hprof
*.gpg

node_modules
